* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  
}

nav {
  background-color: black;
  
}

ul {
  display:flex;
  list-style: none;
  
}

li {
  flex-grow: 1;
}

a {
  display: block;
  text-align: center;
  padding: 15px 25px;
  text-transform: uppercase;
 
}

a:hover {
  color: white; 
}

section {
  padding-top: 30px;
  text-align: center;
}

.active {
  border-bottom-color: yellowgreen
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-main li, .nav-auth li {
  list-style-type: none;
}

.nav-main a, .nav-auth a {
  text-decoration: none;
  color: yellowgreen;
  border-bottom-color:yellowgreen;
}

.nav-main a.active, .nav-auth a.active {
  text-decoration: underline;
}

