* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

 nav {
  background-color: black;
}
ul {
  display:flex;
  list-style: none;
}

li {
  flex-grow: 1;
}

a {
  display: block;
  font-family:arial;
  text-align: center;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 4px solid black;
}

a :hover {
  color:yellow;
}

section {
  padding-top: 30px;
  text-align: center;
}

.active {
  border-bottom-color: yellow;
}
